<% if session[:payment_id].present? %>
  <% payment_id = session[:payment_id] %>
  <% session[:payment_id] = nil %>
  <script type="text/javascript">
    window.onload = print_company_pay(<%= payment_id %>);
  </script>
<% end %>
<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="order-balance-heading">Balance Details</div>
    <div class="bottom_padding"></div>
    <div class="bottom_padding"></div>
    <div class="order-balance-rows" style="border : 0px;">
      <fieldset>
        <legend>Serach By:</legend>
        <div id="order-balance-fields">
          <div class="order-balance-labels">Name</div>
          <div class="order-balance-boxes"><input type="text" id="company_name" class="search-length" onkeyup="ordered_order_balance_report(this);"></div>
        </div>
        <div class="order-balance-fields">
          <div class="order-balance-labels">Colony</div>
          <div class="order-balance-boxes"><input type="text" id="colony" class="search-length" onkeyup="ordered_order_balance_report(this);"></div>
        </div>
        <div class="order-balance-fields">
          <div class="order-balance-labels">Landmark</div>
          <div class="order-balance-boxes"><input type="text" id="landmark" class="search-length" onkeyup="ordered_order_balance_report(this);"></div>
        </div>
      </fieldset>
    </div>
    <div id="order-balance-first-row">
      <div class="serial-number-first">S. No.</div>
      <div class="order-balance-company-name-first" id="name desc" onclick="ordered_order_balance_report(this);">Company Name</div>
      <div class="order-balance-company-address-first" id="address desc" onclick="ordered_order_balance_report(this);">Address</div>
      <div class="order-balance-company-balance-first" id="balance desc" onclick="ordered_order_balance_report(this);">Balance</div>
    </div>
    <div class="clear"></div>
    <div id="order-balance-content"></div>
    <div class="clear"></div>
    <div class="bottom_padding"></div>
    <div class="clear"></div>
    <div class="print-stock"><%= image_tag "print1.jpeg", :onclick=>"print_order_balance();", :id => "print-image-setup" %></div>
  </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>
<script type="text/javascript">
  $("company_name").value = ""
  $("colony").value = ""
  $("landmark").value = ""
window.onload = ordered_order_balance_report($)
</script>